# Example from https://github.com/CGATOxford/cgat/blob/master/MANIFEST.in

# Use .add_data_files and .add_data_dir methods in a appropriate
# setup.py files to include non-python files such as documentation,
# data, etc files to distribution. Avoid using MANIFEST.in for that.

include MANIFEST.in
include LICENSE
include INSTALL
include README.rst
include KNOWN_BUGS
include THANKS.txt

#include install.sh
#include requirements.txt

#exclude xxx

# scripts to include named explicitely:
#include xxx/xxx/xxx.py

# others to include:
#include xxx/scripts/__init__.py
#include xxx/scripts/version.py

# extensions
#include *.pyxbld
#include *.pyx
#include *.h
#include *.cpp
#include *.h
#include *.pxd
#include *.c


# suggested MANIFEST.in rules:
include *.py
include *.rst
include *.sh
include *.txt
include BEST_D_molecular.ini
include COPYING
include Dockerfile
include tox.ini

recursive-include BEST_D_molecular *.R
recursive-include BEST_D_molecular *.Rscript
recursive-include BEST_D_molecular *.ipynb
recursive-include BEST_D_molecular *.pl
recursive-include BEST_D_molecular *.py
recursive-include BEST_D_molecular *.sh
recursive-include BEST_D_molecular *.txt
recursive-include docs *.py
recursive-include docs *.rst
recursive-include tests *.data
recursive-include tests *.gold_std
recursive-include tests *.py
recursive-include tests *.yaml
